
.back {
  background-image: url('../images/question_block.gif');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.mushroom {
  background-image: url('../images/mushroom.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.coin {
  background-image: url('../images/coin.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bowser {
  background-image: url('../images/bowser.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.fire {
  background-image: url('../images/fire.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bones {
  background-image: url('../images/bones.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.koopa {
  background-image: url('../images/koopa.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.goomba {
  background-image: url('../images/goomba.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.star {
  background-image: url('../images/star.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.life {
  background-image: url('../images/life.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}
