@keyframes bounce {
  0% {bottom: 1px}
  8.3% {bottom: 3px}
  16.7% {bottom: 6px}
  25% {bottom: 10px}
  33.3% {bottom: 15px}
  41.7% {bottom: 21px}
  50% {bottom: 25px}
  58.3% {bottom: 21px}
  66.6% {bottom: 15px}
  75% {bottom: 10px}
  83.3% {bottom: 6px}
  91.7% {bottom: 3px}
  100% {bottom: 1px}

}

@keyframes fire-to-super-flicker {
  0% {background-image: url("../images/firemario.png")}
  20% {background-image: url("../images/mario.png")}
  40% {background-image: url("../images/firemario.png")}
  60% {background-image: url("../images/mario.png")}
  80% {background-image: url("../images/firemario.png")}
  100% {background-image: url("../images/mario.png")}
}

@keyframes super-to-mario-flicker {
  0% {background-image: url("../images/mario.png")}
  20% {background-image: url("../images/minimario.png")}
  40% {background-image: url("../images/mario.png")}
  60% {background-image: url("../images/minimario.png")}
  80% {background-image: url("../images/mario.png")}
  100% {background-image: url("../images/minimario.png")}
}

@keyframes mario-to-fire-flicker {
  0% {background-image: url("../images/minimario.png")}
  20% {background-image: url("../images/firemario.png")}
  40% {background-image: url("../images/minimario.png")}
  60% {background-image: url("../images/firemario.png")}
  80% {background-image: url("../images/minimario.png")}
  100% {background-image: url("../images/firemario.png")}
}




body {
  height: 100vh;
  background-image: url("../images/background.png");
  background-position-y: 100%;
  background-size: cover;
  overflow: hidden;
}


main {
  height: 81%;
}

/* aside {
  top: 14vh;
} */

.bounce {
  animation-name: bounce;
  animation-duration: 0.25s;
}

.super-to-mario {
  animation-name: super-to-mario-flicker;
  animation-duration: 1.5s;

}

.mario-to-super {
  animation-name: super-to-mario-flicker;
  animation-direction: reverse;
  animation-duration: 1.5s;
}

.mario-to-fire {
  animation-name: mario-to-fire-flicker;
  animation-duration: 1.5s;
}

.super-to-fire {
  animation-name: fire-to-super-flicker;
  animation-direction: reverse;
  animation-duration: 1.5s;
}

.fire-to-super {
  animation-name: fire-to-super-flicker;
  animation-duration: 1.5s;
}

.title {
  height: 5vw;
  width: 100%;
  top: 1vw;
  left: 20vw;
  position: absolute;
  background-image: url("../images/supermario.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.subtitle {
  height: 3vw;
  width: 100%;
  top: 6vw;
  left: 30vw;
  position: absolute;
  background-image: url("../images/memorymatch.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding: 0;
  width: 89.2%;
  margin:0;
  display: inline-block;
}

.container-fluid {
  padding: 0;
}

/* .col-2-5 {
    flex: 0 0 20.833333333333%;
    max-width: 20.833333333333%;
    position: relative;
    width: 100%;
    height: 100%;
} */

.block {
  position: relative;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
}

.col-2-5 {
    position: relative;
    width: 20vw;
    height: 100%;
}

.col-9-5 {
  flex: 0 0 79.166666666667%;
  max-width: 79.166666666667%;
  position: relative;
  width: 100%;
  height: 100%;
}

.mario {
  background-image: url("../images/mario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 10vw;
  left: 5vw;
}

.minimario {
  background-image: url("../images/minimario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 10vw;
  left: 5vw;
}

.firemario {
  background-image: url("../images/firemario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 10vw;
  left: 5vw;
}

.stand {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vw;
  width: 100%;
}

.back {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/mysterybox.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.row {
  height: 27.2%;
  padding: 1.6% 5%;
}

.hidden {
  display: none;
}

.star {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/star.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.mushroom {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/mushroom.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.life {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/life.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.koopa {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/koopa.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.goomba {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/goomba.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fire {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/fire.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.coin {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bones {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/bones.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bowser {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/bowser.png");
  background-size: contain;
  background-repeat: no-repeat;
}
