@keyframes bounce {
  0% {bottom: 1px}
  8.3% {bottom: 3px}
  16.7% {bottom: 6px}
  25% {bottom: 10px}
  33.3% {bottom: 15px}
  41.7% {bottom: 21px}
  50% {bottom: 25px}
  58.3% {bottom: 21px}
  66.6% {bottom: 15px}
  75% {bottom: 10px}
  83.3% {bottom: 6px}
  91.7% {bottom: 3px}
  100% {bottom: 1px}

}

@keyframes starmario-flicker {
  16.6% {background-image: url('../images/starmario1.png')}
  33.3% {background-image: url('../images/starmario2.png')}
  50% {background-image: url('../images/starmario3.png')}
  66.6% {background-image: url('../images/starmario4.png')}
  83.3% {background-image: url('../images/starmario5.png')}
  100% {background-image: url('../images/starmario6.png')}
}

@keyframes fire-to-super-flicker {
  0% {background-image: url("../images/firemario.png")}
  20% {background-image: url("../images/mario.png")}
  40% {background-image: url("../images/firemario.png")}
  60% {background-image: url("../images/mario.png")}
  80% {background-image: url("../images/firemario.png")}
  100% {background-image: url("../images/mario.png")}
}

@keyframes super-to-fire-flicker {
  0% {background-image: url("../images/mario.png")}
  20% {background-image: url("../images/firemario.png")}
  40% {background-image: url("../images/mario.png")}
  60% {background-image: url("../images/firemario.png")}
  80% {background-image: url("../images/mario.png")}
  100% {background-image: url("../images/firemario.png")}
}

@keyframes mario-to-fire-flicker {
  0% {background-image: url("../images/minimario.png")}
  20% {background-image: url("../images/firemario.png")}
  40% {background-image: url("../images/minimario.png")}
  60% {background-image: url("../images/firemario.png")}
  80% {background-image: url("../images/minimario.png")}
  100% {background-image: url("../images/firemario.png")}
}

@keyframes super-to-mario-flicker {
  0% {background-image: url("../images/mario.png")}
  20% {background-image: url("../images/minimario.png")}
  40% {background-image: url("../images/mario.png")}
  60% {background-image: url("../images/minimario.png")}
  80% {background-image: url("../images/mario.png")}
  100% {background-image: url("../images/minimario.png")}
}

@keyframes mario-to-super-flicker {
  0% {background-image: url("../images/minimario.png")}
  20% {background-image: url("../images/mario.png")}
  40% {background-image: url("../images/minimario.png")}
  60% {background-image: url("../images/mario.png")}
  80% {background-image: url("../images/minimario.png")}
  100% {background-image: url("../images/mario.png")}
}

@keyframes open-header {
  0% {position: absolute; top: 20vw;}
  10% {position: absolute; top: 18.5vw;}
  20% {position: absolute; top: 17vw;}
  30% {position: absolute; top: 15.5vw;}
  40% {position: absolute; top: 14vw;}
  50% {position: absolute; top: 12.5vw;}
  60% {position: absolute; top: 11vw;}
  70% {position: absolute; top: 9.5vw;}
  80% {position: absolute; top: 8vw;}
  90% {position: absolute; top: 6.5vw;}
  100% {position: absolute; top: 5vw;}
}

@keyframes open-footer {
  0% {bottom: 28%;}
  10% {bottom: 24%;}
  20% {bottom: 20%;}
  30% {bottom: 16%;}
  40% {bottom: 12%;}
  50% {bottom: 8%;}
  60% {bottom: 4%;}
  70% {bottom: 0%;}
  80% {bottom: -4%;}
  90% {bottom: -8%;}
  100% {bottom: -12%;}
}





body {
  height: 100vh;
  background-image: url("../images/background.png");
  background-size: cover;
  overflow: hidden;
}


main {
  height: 71%;
  width: 100%;
  position: absolute;
  top: 10vw;
}

header.game {
  position: absolute;
  height: 10vh;
  width: 100%;
  top: 5vw;
  animation-name: open-header;
  animation-duration: .65s;
  animation-timing-function: ease-out;
}

header.home {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
}

header.home > div {
  position: absolute;
  bottom: 0;
}

header.game > div {
  position: absolute;
  bottom: 0;
}


header div.block:before {
  content: '';
  position: absolute;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  bottom: 10vw;
}

header div.block:after {
  content: '';
  position: absolute;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  bottom: 20vw;
}

footer.home {
  position: absolute;
  bottom: 0;
  height: 50vh;
}

footer.game {
  position: fixed;
  bottom: -12%;
  left: 0;
  height: 10vw;
  width: 100%;
  animation-name: open-footer;
  animation-duration: .65s;
  animation-timing-function: ease-out;
}

footer div.block:after {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  top: -0.4vw;
}

footer div.block:before {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  top: 19.9vw;
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.25s;
}

.super-to-mario {
  animation-name: super-to-mario-flicker;
  animation-duration: 1.5s;

}

.mario-to-super {
  animation-name: mario-to-super-flicker;
  animation-duration: 1.5s;
}

.mario-to-fire {
  animation-name: mario-to-fire-flicker;
  animation-duration: 1.5s;
}

.super-to-fire {
  animation-name: super-to-fire-flicker;
  animation-duration: 1.5s;
}

.fire-to-super {
  animation-name: fire-to-super-flicker;
  animation-duration: 1.5s;
}

.title {
  position: absolute;
  height: 10vw;
  width: 46%;
  bottom: 0;
  left: 27vw;
  position: absolute;
  background-image: url("../images/supermario.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding: 0;
  width: 89.2%;
  margin:0;
  display: inline-block;
}

.container-fluid {
  padding: 0;
}

/* .col-2-5 {
    flex: 0 0 20.833333333333%;
    max-width: 20.833333333333%;
    position: relative;
    width: 100%;
    height: 100%;
} */

.block {
  position: relative;
  display: inline-block;
  background-image: url('../images/brick.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
}

.win {
  background-image: url('../images/winmodal.png');

}

.lose {
  background-image: url('../images/losemodal.png');
}

.modal {
  position: absolute;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10vw 10vw 10vw 10vw;
  height: 80vw;
  width: 80vw;
}

.play {
  position: absolute;
  width: 8vw;
  height: 4vw;
  border-radius: 1vw;
  z-index: 1;
  background-color: greenyellow;
  left: 46vw;
  top: 12vw;
  color: darkolivegreen;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.col-2-5 {
    position: relative;
    width: 20vw;
    height: 100%;
}

.col-9-5 {
  flex: 0 0 79.166666666667%;
  max-width: 79.166666666667%;
  position: relative;
  width: 100%;
  height: 100%;
}

.mario {
  background-image: url("../images/mario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 5vw;
  left: 5vw;
}

.minimario {
  background-image: url("../images/minimario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 5vw;
  left: 5vw;
}

.firemario {
  background-image: url("../images/firemario.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 90%;
  width: 10vw;
  position: fixed;
  bottom: 5vw;
  left: 5vw;
}

.starmario {
  animation-name: starmario-flicker;
  animation-duration: 1s;
  animation-iteration-count: 5;
}



.back {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/mysterybox.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.row {
  height: 27.2%;
  padding: 1.6% 5%;
}

.hidden {
  display: none;
}

.star {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/star.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.mushroom {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/mushroom.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.life {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/life.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.koopa {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/koopa.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.goomba {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/goomba.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fire {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/fire.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.coin {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bones {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/bones.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bowser {

  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/bowser.png");
  background-size: contain;
  background-repeat: no-repeat;
}
